.NavContent {
  background-color: #747264;
  height: 10vh;
  display: inline-flexbox;
}
.Logo {
  color: #e0ccbe;
  font-size: 40px;
  margin: 0px;
  padding: 20px;
  padding-left: 50px;
  float: left;
}
.NavItem {
  float: right;
}
li,
a {
  color: #e0ccbe;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
